.invalid{
    border: 1px solid red;
   
}
input:invalid{
    border: 1px solid red;
    
}

.hidden{
    display: none;
}

table{
  border: 1px solid black;
  text-wrap:wrap;
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: left;
    text-wrap:wrap;
}
#table-warn-item{
    background-color: #eeee57;
}

tr:hover {background-color:lightgray;}
